<!--
  ~ Project : KSRTC Seat Availability Notification System
  ~ Filename : login.html
  ~ Author : thameem
  ~ Current modification time : Thu, 19 May 2022 at 8:06 PM India Standard Time
  ~ Last modified time : Thu, 19 May 2022 at 8:05 PM India Standard Time
  -->
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description"
          content="">
    <meta name="author" content="">

    <link rel="icon" href="" type="image/x-icon">
    <!-- VENDOR CSS -->

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <link href="{% static 'vendor/animate-css/vivify.min.css' %}">

    <!-- MAIN CSS -->
    <link href="{% static 'css/site.min.css' %}">

</head>
<body class="theme-cyan font-montserrat">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
    </div>
</div>

<div class="pattern">
    <span class="red"></span>
    <span class="indigo"></span>
    <span class="blue"></span>
    <span class="green"></span>
    <span class="orange"></span>
</div>

<div class="auth-main particles_js">
    <div class="auth_div vivify popIn">
        <div class="auth_brand">
            <a class="navbar-brand" href="javascript:void(0);"><img src="#" width="30"
                                                                    height="30" class="d-inline-block align-top mr-2"
                                                                    alt="">Login</a>
        </div>
        <div class="card">
            <div class="body">
                <p class="lead">Login to your account</p>
                <form class="form-auth-small m-t-20" action="#">
                    <div class="form-group">
                        <label for="signin-email" class="control-label sr-only">Email</label>
                        <input type="email" class="form-control round" id="signin-email" value="user@domain.com"
                               placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="signin-password" class="control-label sr-only">Password</label>
                        <input type="password" class="form-control round" id="signin-password" value="thisisthepassword"
                               placeholder="Password">
                    </div>
                    <div class="form-group clearfix">
                        <label class="fancy-checkbox element-left">
                            <input type="checkbox">
                            <span>Remember me</span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-round btn-block">LOGIN</button>
                    <div class="bottom">
                        <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a
                                href="#">Forgot password?</a></span>
                        <span>Don't have an account? <a href="#">Register</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="particles-js"></div>
</div>
<!-- END WRAPPER -->

<script src="{% static 'bundles/libscripts.bundle.js' %}"></script>
<script src="{% static 'bundles/vendorscripts.bundle.js' %}"></script>
<script src="{% static 'bundles/mainscripts.bundle.js' %}"></script>

</body>
</html>
