<!DOCTYPE html>
<html lang="en">
{% include 'theme/header.html' %}
<body>

{% include 'theme/navbar.html' %}

<!-- Jumbotron -->
<div class="p-5 text-center bg-light">
    <h1 class="fw-bold">KSRTC Seat Availability Notification</h1>
</div>
<!-- Jumbotron -->

<div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                 class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form>

                <!-- Phone input -->
                <div class="form-outline mb-4">
                    <input type="number" id="phone_number" class="form-control form-control-lg"
                           placeholder="Enter a valid phone number"/>
                    <label class="form-label" for="phone_number">Phone Number</label>
                </div>

                <!-- OTP input -->
                <div class="form-outline mb-3 otp_container">
                    <input type="password" id="one_time_password" class="form-control form-control-lg"
                           placeholder="Enter OTP"/>
                    <label class="form-label" for="one_time_password">OTP</label>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-0">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3"/>
                        <label class="form-check-label" for="form2Example3">
                            Remember me
                        </label>
                    </div>

                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                    <button onclick="submitPhoneNumberAuth()" id="sign-in-button" type="button"
                            class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Send OTP
                    </button>
                    <button onclick="submitPhoneNumberAuthCode()" id="confirm-code" type="button"
                            class="otp_container btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Verify OTP
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

{% include 'theme/footer.html' %}

{% include 'theme/firebase.html' %}

<script>

    window.onload = function () {

        // Listening for auth state changes.
        firebase.auth().onAuthStateChanged(async function (user) {
            if (user) {
                // user is signed in
                sendAuthDataToServer(await user.getIdToken(false))
            }
        });

        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier(
            "recaptcha-container",
            {
                size: "invisible",
                callback: function () {
                    submitPhoneNumberAuth();
                }
            }
        );

        recaptchaVerifier.render().then(function (widgetId) {
            window.recaptchaWidgetId = widgetId;
        });
    }

</script>

</body>
</html>