<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="#">
            <img
                    src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
                    height="16"
                    alt="MDB Logo"
                    loading="lazy"
                    style="margin-top: -1px;"
            />
        </a>

        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/user/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/locations">Locations</a>
                </li>
            </ul>
            <!-- Left links -->

            <div class="d-flex align-items-center">
                {% if 'user' in request.session %}
                    <button onclick="firebaseSignOut()" type="button" class="btn btn-danger px-3 me-2">
                        Logout
                    </button>
                {% else %}
                    <a href="/login" type="button" class="btn btn-success px-3 me-2">
                        Login
                    </a>
                {% endif %}

                <a class="btn btn-dark px-3" target="_blank"
                   href="https://github.com/thameemk612/ksrtc-seat-availability-notification"
                   role="button"><i class="fab fa-github"></i></a>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
