<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">

        <a class="btn btn-dark px-3" target="_blank"
           href="https://github.com/thameemk612/ksrtc-seat-availability-notification"
           role="button"><i class="fab fa-github"></i></a>

        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample"
                aria-controls="navbarButtonsExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if 'user' in request.session %}

                    <li class="nav-item">
                        <a class="nav-link" href="/user/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/locations">Locations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/notifications">Notifications</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/user/add_notification">Add Notification</a>
                    </li>
                {% endif %}
            </ul>
            <!-- Left links -->


            <div class="d-flex align-items-center">
                {% if 'user' in request.session %}
                    <button onclick="firebaseSignOut()" type="button" class="btn btn-danger px-3 me-2">
                        Logout
                    </button>
                {% else %}
                    <a href="/login" type="button" class="btn btn-success px-3 me-2">
                        Login
                    </a>
                {% endif %}

                <!-- Button trigger modal -->

                {% if request.path == '/admin/locations/' %}
                    <button type="button" class="btn btn-primary px-3 me-2" data-mdb-toggle="modal"
                            data-mdb-target="#update_locations">
                        Update Locations
                    </button>
                {% endif %}


            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
