<!--
  ~ Project : KSRTC Seat Availability Notification System
  ~ Filename : header.html
  ~ Author : thameem
  ~ Current modification time : Fri, 22 Jul 2022 at 11:47 PM India Standard Time
  ~ Last modified time : Fri, 22 Jul 2022 at 11:47 PM India Standard Time
  -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


    <link rel="icon" href="#" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/vendor/animate-css/vivify.min.css">


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="static/css/site.min.css">

</head>
<body class="theme-cyan font-montserrat">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
    </div>
</div>
