{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'theme/header.html' %}

<body>


{% include 'theme/navbar.html' %}

<section class="container">
    <h3 class="fw-bold m-3 text-center">Add New Notification</h3>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-dismissible fade show alert-success" role="alert" data-mdb-color="warning">
                    {{ message }}
                    <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            {% if message.tags == 'error' %}
                <div class="alert alert-dismissible fade show alert-danger" role="alert" data-mdb-color="warning">
                    {{ message }}
                    <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div style="text-align: center;">
        <form method="post" action="/user/save_notification/" class="col-lg-6  col-md-12">
            {% csrf_token %}
            <div class="row mb-4">

                <datalist id="service_locations">
                    {% for location in locations %}
                        <option value="{{ location.location_id }}">{{ location.location_name }}</option>
                    {% endfor %}
                </datalist>

                <div class="col-6 mb-4">
                    <div class="form-outline">
                        <input list="service_locations" required class="form-control" type="text" name="leaving_from">
                        <label class="form-label">Leaving From </label>
                    </div>
                </div>

                <div class="col-6 mb-4">
                    <div class="form-outline">
                        <input list="service_locations" required class="form-control" type="text" name="going_to">
                        <label class="form-label">Going To </label>
                    </div>
                </div>

                <div class="col-6 mb-4">
                    <div class="form-outline">
                        <input required class="form-control" type="date" name="date_of_departure">
                        <label class="form-label">Date Of Departure </label>
                    </div>
                </div>

                <div class="col-6 mb-4">
                    <div class="form-outline">
                        <input class="form-control" type="date" name="date_of_return">
                        <label class="form-label">Date Of Return </label>
                    </div>
                </div>

                <div class="col-6 mb-4">
                    <div class="form-outline">
                        <input class="form-control" type="number" name="time_interval">
                        <label class="form-label">Time Interval (Minutes)</label>
                    </div>
                </div>

                <center>
                    <div class="col-6 mb-4">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </center>

            </div>

        </form>
    </div>
</section>


{% include 'theme/firebase.html' %}

{% include 'theme/footer.html' %}

</body>
</html>