{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'theme/header.html' %}
<body>


{% include 'theme/navbar.html' %}

<section class="container">
    <h3 class="fw-bold m-3 text-center">My Notifications</h3>
    <table class="table">
        <thead class="table-dark">
        <th class="text-center">ID</th>
        <th class="text-center">Leaving From</th>
        <th class="text-center">Going To</th>
        <th class="text-center">Departure Date</th>
        <th class="text-center">Return Date</th>
        <th class="text-center">Time Interval</th>
        <th class="text-center">Expiry Date</th>
        <th class="text-center">Status</th>
        </thead>
        <tbody>

        </tbody>
    </table>
</section>


{% include 'theme/firebase.html' %}

{% include 'theme/footer.html' %}

</body>
</html>