{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'theme/header.html' %}

<!-- sweetalert2 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.16.6/sweetalert2.min.css"
      integrity="sha512-/D4S05MnQx/q7V0+15CCVZIeJcV+Z+ejL1ZgkAcXE1KZxTE4cYDvu+Fz+cQO9GopKrDzMNNgGK+dbuqza54jgw=="
      crossorigin="anonymous"/>
<body>


{% include 'theme/navbar.html' %}

<section class="container">
    <h3 class="fw-bold m-3 text-center">My Notifications</h3>
    <table class="table">
        <thead class="table-dark">
        <th class="text-center">Leaving From</th>
        <th class="text-center">Going To</th>
        <th class="text-center">Departure Date</th>
        <th class="text-center">Return Date</th>
        <th class="text-center">Available Seats</th>
        <th class="text-center">Time Interval</th>
        <th class="text-center">Expiry Date</th>
        <th class="text-center">Status</th>
        </thead>
        {% for notification in notifications %}
            <tbody>
            <td class="text-center">{{ notification.leaving_from.location_name }}</td>
            <td class="text-center">{{ notification.going_to.location_name }}</td>
            <td class="text-center">{{ notification.date_of_departure }}</td>
            <td class="text-center">{{ notification.date_of_return }}</td>
            <td class="text-center">{{ notification.available_seats }}</td>
            <td class="text-center">{{ notification.time_interval }}</td>
            <td class="text-center">{{ notification.receive_notification_up_to }}</td>
            <td class="text-center">
                {% if notification.is_active is True %}
                    <button type="button" id="{{ notification.id }}" class="updateNotificationStatus btn btn-success"
                            data-mdb-toggle="modal"
                            data-mdb-target="#notification_status_update">Update
                    </button>
                {% else %}
                    <button type="button" class="btn btn-danger" disabled>Expired</button>
                {% endif %}
            </td>
            </tbody>
        {% endfor %}
    </table>
</section>

<script>
    $(function () {
        $(".updateNotificationStatus").click(function () {
            const notification_id = $(this).attr("id");
            Swal.fire({
                title: 'Do you want to update the notification status?',
                showConfirmButton: false,
                showCloseButton: false,
                html: `
                <div>
                <button class="btn btn-danger" onclick="onBtnClicked(notification_id)">Disable Notification</button>
                <button class="btn btn-success" onclick="onBtnClicked(notification_id)">Update Seats</button>
                </div>`
            });
        });
    });

    function onBtnClicked(notification_id) {
        Swal.close();
        console.log(notification_id)
    }
</script>


{% include 'theme/firebase.html' %}

{% include 'theme/footer.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.16.6/sweetalert2.min.js"
        integrity="sha512-CrNI25BFwyQ47q3MiZbfATg0ZoG6zuNh2ANn/WjyqvN4ShWfwPeoCOi9pjmX4DoNioMQ5gPcphKKF+oVz3UjRw=="
        crossorigin="anonymous"></script>

</body>
</html>